<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>상세내용 입력 layout | PWC</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, target-densitydpi=medium-dpi">
<link rel="shortcut icon" href="../../resource/images/favicon/apple_touch_icon.ico">
<link rel="apple-touch-icon" href="../../resource/images/favicon/apple_touch_icon.png">
<link href="../../resource/css/common.css" rel="stylesheet" type="text/css">
<link href="../../resource/css/contents.css" rel="stylesheet" type="text/css">
</head>

<body>
<p class="skip"><a href="#container">본문 바로가기</a></p>

<section id="wrapper" class="wrapper">
	<header>
    <div class="header__inner">
      <button type="button" class="btn--page-prev">이전</button>
      <h1 class="title-depth5">메뉴명</h1>
    </div>
	</header>

	<div id="container" class="container">
		<div class="content">
      <div class="content-head">
        <h2 class="hidden">상세내역 정보</h2>
        <!-- 
          [use-info 영역 구분]
          .info-type-1 : content-head 영역 하단에 금액이 큰 사이즈로 위치 하는 타입
          .info-type-2 : content-head 영역에 금액 없으며 안쪽에 silde down 영역 포함하는 타입(없는 경우도 무방)
         -->
        <div class="use-info info-type-1">
          <span class="use-info__date"><span class="hidden">카드 사용일자</span>2023-12-31</span>
          <strong class="use-info__title"><span class="hidden">상호</span>상호명 입력 영역</strong>
          <!-- 금액 폰트 사이즈 30px 사용 시  .font-size--m-price class 추가 -->
          <strong class="use-info__price"><span class="hidden">금액</span><em>9,999,999</em>원</strong>
          <button aria-haspopup="dialog" data-popup-id="detailHistoryPop" class="btn--ico btn--summary">상세내역 요약보기</button>
          <div class="paging-text">
            <span class="current">1</span><span>/</span><span class="total">10</span>
          </div>
        </div>
      </div><!-- //content-head -->
			<div class="content-body border-type-2">
        <h2 class="hidden">내역 작성</h2>
        <div class="input-form-field">
          <ul class="input-form-field__list">
            <li class="input-field search-field">
              <label for="inpName">계정과목</label>
              <div class="search-wrap__btn-type">
                <button aria-haspopup="dialog" data-popup-id="selectAttendeesPop" class="btn--search">조회 팝업</button>
                <input type="text" id="inpName" class="input-text search" readonly>
              </div>
            </li>
            <li class="input-field">
              <label for="inpBriefs">적요</label>
              <span class="text-field-wrap">
                <input type="text" id="inpBriefs" class="input-text">
                <button type="button" class="btn--del">삭제</button>
              </span>
            </li>
            <li class="input-field search-field--ckeck">
              <label for="inpProCode">프로젝트 코드</label>
              <span class="input-checkbox check-size-m text-label"><input type="checkbox" id="checkProCode"><label for="checkProCode">직접입력</label></span>
              <div class="multi-field project-code">
                <span class="text-field-wrap">
                  <input type="tel" id="inpProCode" class="input-text" maxlength="5" placeholder="12345" title="프로젝트 코드 앞 5자리">
                  <button type="button" class="btn--del">삭제</button>
                </span>
                <span class="text-field-wrap">
                  <input type="tel" class="input-text" maxlength="2" placeholder="12" title="프로젝트 코드 중간 2자리">
                  <button type="button" class="btn--del">삭제</button>
                </span>
                <span class="text-field-wrap">
                  <input type="tel" class="input-text" maxlength="3" placeholder="123" title="프로젝트 코드 마지막 3자리">
                  <button type="button" class="btn--del">삭제</button>
                </span>
              </span>
              </div>
            </li>
            <li class="input-field">
              <h3 class="title-depth6">구분</h3><!--별도로 연결할 input 없는 경우 label 태그 아닌 h 태그 사용해도 무방. 단 페이지 내 통일 -->
              <div class="select-wrap line-type">
                <button aria-haspopup="dialog" data-popup-id="transportationTypePop" class="btn--select"><span class="hidden">교통수단 구분 팝업</span>{팝업선택값}</button><!-- (dev) {팝업선택값} 영역은 default는 비어있고 팝업에서 값 선택하는 경우 출력 -->
              </div>
            </li>
          </ul>
        </div><!-- //input-form-field -->
			</div><!-- //content-body -->
		</div><!-- //content -->
		<div class="floating-btn">
			<div class="floating-btn__inner">
				<div class="btn-wrap">
					<button type="button" class="btn">작성하기</button>
				</div>
			</div>
		</div><!-- //floating btn -->
	</div><!-- //container -->
</section><!-- //wrapper -->

<!-- layer popup : full popup -->

<!-- //layer popup : full popup -->

<!-- layer popup : bottom sheet -->

<!-- //layer popup : bottom sheet -->

<!-- layer popup : alert -->

<!-- //layer popup : alert -->

<div class="dimmed"></div>

<script type="text/javascript" src="../../resource/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../resource/dist/library.js"></script>
<script type="text/javascript" src="../../resource/dist/commonJs.js"></script>

</body>
</html>