<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title> | PWC</title>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, target-densitydpi=medium-dpi">
<link rel="shortcut icon" href="../../resource/images/favicon/apple_touch_icon.ico">
<link rel="apple-touch-icon" href="../../resource/images/favicon/apple_touch_icon.png">
<link href="../../resource/css/common.css" rel="stylesheet" type="text/css">
<link href="../../resource/css/contents.css" rel="stylesheet" type="text/css">
</head>



<body>
<p class="skip"><a href="#container">본문 바로가기</a></p>

<section id="wrapper" class="wrapper">
	<header>
		<div class="header__inner"><!-- //h1 페이지타이틀, 닫기 버튼만 있는 경우 .header-case--v2 class 추가-->
			<button type="button" class="btn--page-prev">이전</button>
			<h1 class="title-depth5">페이지 타이틀</h1>
			<!-- 메뉴보기 버튼 -->
			<button type="button" class="btn--menu">
				<strong class="hidden">메뉴 보기</strong>
				<span></span>
				<span></span>
				<span></span>
			</button>
			<!-- 닫기버튼 -->
			<!-- <button type="button" class="btn--page-close">닫기</button> -->

			<!-- 메뉴 -->
			<nav>
				<div class="nav__inner">
					<h1 class="header-logo"><span class="logo">pwc</span><span class="text">e-Accounting</span></h1>
					<div class="nav__header header-user-info">
						<h2 class="user-name"><strong class="name">김삼일</strong> 님</h2>
						<p class="user-date">최근접속 <span class="num">2023-08-02 18:31</span></p>
						<a href="#" class="notice-link">
							<span class="notice-icon">공지사항 보기</span>
							<div class="new"><span class="hidden">새로운 글</span></div><!-- (dev) 새 글이 있을 경우 해당 영역 생성/없을 경우 삭제 -->
						</a>
					</div>
					<div class="nav__body">
						<ul class="nav-menu">
							<li>
								<h2 class="nav-menu__title my">My e-Accounting</h2>
								<ul class="nav-menu__items">
									<li class="nav-menu__item"><a href="#">내 전표 현황</a></li>
									<li class="nav-menu__item"><a href="#">입금내역</a></li>
									<li class="nav-menu__item"><a href="#">카드 사용이력 관리</a></li>
								</ul>
							</li>
							<li>
								<h2 class="nav-menu__title chit">전표 작성</h2>
								<ul class="nav-menu__items">
									<li class="nav-menu__item"><a href="#">법인신용카드</a></li>
									<li class="nav-menu__item"><a href="#">시내교통비</a></li>
									<li class="nav-menu__item"><a href="#">단기출장비</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<p class="version-data">버전정보<span>V1.0.0</span></p>
					<button type="button" class="btn--menu-close">
						<strong class="hidden">메뉴 닫기</strong>
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
			</nav>
		</div>
	</header>

	<div id="container" class="container"> 
		<div class="content">

			<div style="background:#ddd">
				콘텐츠<br>
				콘텐츠<br>콘텐츠<br>
				콘텐츠<br>콘텐츠<br>
				콘텐츠<br>콘텐츠<br>콘텐츠<br>
				<!-- 콘텐츠<br>콘텐츠<br>
				콘텐츠<br>콘텐츠<br>
				콘텐츠<br>콘텐츠<br>
				콘텐츠<br>콘텐츠<br>
				콘텐츠<br>콘텐츠<br>콘텐츠<br>
				콘텐츠<br>콘텐츠<br>
				콘텐츠<br>콘텐츠<br>
				콘텐츠<br>콘텐츠<br>
				콘텐츠<br>콘텐츠<br>
				콘텐츠<br>콘텐츠<br>콘텐츠<br>
				콘텐츠<br>콘텐츠<br>
				콘텐츠<br> -->
			</div>

			<!-- (dev) 검색/탭 sorting 등 액션이 실행 될 때, 값을 뿌려준 뒤 버튼영역 위치 조절을 위하여 js 코드 호출 필요 -->
			<div class="btn-wrap btn-wrap--bottom">
				<button type="button" class="btn">확인</button>
			</div>
		</div><!-- //content -->
	</div><!-- //container -->
</section><!-- //wrapper -->

<div class="dimmed"></div>

<script type="text/javascript" src="../../resource/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../resource/dist/library.js"></script>
<script type="text/javascript" src="../../resource/dist/commonJs.js"></script>

</body>
</html>